<h1>Create new employee</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onButtonClicked(employeeForm.value); onFormSubmitted(employeeForm.value)">
  <input type="text" formControlName="name" placeholder="Name">
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number" formControlName="salary" placeholder="Salary">
  <input class="submit" type="submit" [disabled]="employeeForm.invalid" value="Submit">
</form>
<div *ngIf="employeeForm.valid">
  Your new employee:  {{employeeForm.value.name}}, age: {{employeeForm.value.age}} with salary {{employeeForm.value.salary}} $ will be added to the system.
</div>

<style>
  h1{
    margin-bottom: 7vh;
  }
  input{
    margin-bottom: 5vh;
    display: flex;
    width: 15vw;
    height: 8vh;
    border-radius: 8px;
    border: 1px solid #afdbd1;
    color: #33403d;
  }
  .submit{
    background-image: linear-gradient(to bottom right, #afdbd1 ,#0e8065);
  }
</style>
