<h1>Employee list</h1>
<div *ngIf="data$ | async as data; else empty">
  <table  >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let employee of data">
      <td>{{ employee.personalNumber }}</td>
      <td><a routerLink="/employee-details/{{employee.personalNumber}}/{{employee.name}}">{{ employee.name }}</a></td>
      <td>{{employee.mail}}</td>
      <td><button class="remove" (click)="remove(employee.personalNumber)">Remove</button></td>
    </tr>
  </table>
</div>
<style>
  h1{
    text-align: center;
  }
  button{
    background-image: linear-gradient(to bottom right, #427d6f, #0e8065);
    color: #afdbd1;
    border-radius: 5px;
    border: none;
  }
  td{
    border-left: 1px solid black;
    border-top: 1px solid black;
  }
  table{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border-collapse: separate;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #33403d;
  }
  th{
    border-left: 1px solid black;
  }
  td:first-child, th:first-child {
    border-left: none;
  }
</style>

<ng-template #empty> There is no data </ng-template>
